USE [DLBD]
GO
/****** Object:  Table [dbo].[result-football]    Script Date: 11/2/2022 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[result-football](
	[LeagueName] [varchar](50) NULL,
	[HomeTeam] [varchar](50) NULL,
	[AwayTeam] [varchar](50) NULL,
	[TimeStart] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
	[Gwinner] [varchar](50) NULL,
	[GLoser] [varchar](50) NULL,
	[Referee] [varchar](50) NULL,
	[Venue] [varchar](50) NULL,
	[Attendance] [varchar](50) NULL,
	[Round] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[result-football] ([LeagueName], [HomeTeam], [AwayTeam], [TimeStart], [Date], [Gwinner], [GLoser], [Referee], [Venue], [Attendance], [Round], [Status]) VALUES (N'Premier League ', N'Manchester Utd', N'Arsenal', N'22:30', N'04.09.2022', N'3', N'1', N' Tierney P. (Eng)', N'Old Trafford (Manchester)', N'74 000', N'Round 6', N'Finished')
INSERT [dbo].[result-football] ([LeagueName], [HomeTeam], [AwayTeam], [TimeStart], [Date], [Gwinner], [GLoser], [Referee], [Venue], [Attendance], [Round], [Status]) VALUES (N'Premier League ', N'Brighton', N'Leicester', N'20:00', N'04.09.2022', N'5', N'2', N' Harrington T. (Eng)', N'Amex Stadium (Brighton)', N'31 185', N'Round 6', N'Finished')
INSERT [dbo].[result-football] ([LeagueName], [HomeTeam], [AwayTeam], [TimeStart], [Date], [Gwinner], [GLoser], [Referee], [Venue], [Attendance], [Round], [Status]) VALUES (N'Premier League ', N'Aston Villa', N'Manchester City', N'23:30', N'03.09.2022', N'1', N'1', N' Hooper S. (Eng)', N'Villa Park (Birmingham)', N'41 830', N'Round 6', N'Finished')
GO
